openapi: 3.0.1
info:
  title: Matillion DPC Agents API
  description: 'Specification of the Matillion APIs. Two surfaces are documented: the Data Productivity Cloud (DPC) API, an OAuth2 client-credentials REST control plane for projects, environments, pipeline executions, schedules, and Agents; and the legacy instance-hosted Matillion ETL API, an HTTP Basic REST API for groups, projects, versions, jobs, tasks, and schedules. The DPC control plane is regional - use the eu1 or us1 host. Branches on the Data Productivity Cloud are managed in the UI only and are not exposed as a public API. Note: in 2026 the DPC API documentation was rebranded to docs.maia.ai ("Maia"); the runtime hosts below are unchanged.'
  termsOfService: https://www.matillion.com/terms
  contact:
    name: Matillion Support
    url: https://docs.matillion.com
  version: '1.0'
servers:
- url: https://eu1.api.matillion.com/dpc
  description: Data Productivity Cloud control plane (EU region).
- url: https://us1.api.matillion.com/dpc
  description: Data Productivity Cloud control plane (US region).
- url: https://{instance}/rest/v1
  description: Legacy Matillion ETL instance-hosted API. Served from the customer's own Matillion ETL VM; authenticate with HTTP Basic. Replace {instance} with your instance host (also exposes /rest/v0).
  variables:
    instance:
      default: your-matillion-etl-instance
      description: Host of the customer-operated Matillion ETL instance.
tags:
- name: DPC Agents
  description: Data Productivity Cloud Agents (hybrid runtime).
paths:
  /v1/agents:
    get:
      operationId: listAgents
      tags:
      - DPC Agents
      summary: List Data Productivity Cloud Agents.
      security:
      - dpc_oauth: []
      responses:
        '200':
          description: A list of Agents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentList'
    post:
      operationId: createAgent
      tags:
      - DPC Agents
      summary: Register a Data Productivity Cloud Agent.
      security:
      - dpc_oauth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentCreate'
      responses:
        '201':
          description: The created Agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
  /v1/agents/{agentId}:
    get:
      operationId: getAgent
      tags:
      - DPC Agents
      summary: Get a Data Productivity Cloud Agent.
      security:
      - dpc_oauth: []
      parameters:
      - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: The Agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
  /v1/agents/{agentId}/credentials:
    get:
      operationId: getAgentCredentials
      tags:
      - DPC Agents
      summary: Get an Agent's credentials.
      security:
      - dpc_oauth: []
      parameters:
      - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: The Agent credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCredentials'
components:
  schemas:
    AgentList:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Agent'
    AgentCredentials:
      type: object
      properties:
        clientId:
          type: string
        clientSecret:
          type: string
    AgentCreate:
      type: object
      properties:
        name:
          type: string
      required:
      - name
    Agent:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
  parameters:
    AgentId:
      in: path
      name: agentId
      required: true
      schema:
        type: string
      description: The Agent id.
  securitySchemes:
    dpc_oauth:
      type: oauth2
      description: 'Data Productivity Cloud OAuth2 client-credentials flow. Exchange your client id and secret for a Bearer JWT at the token URL, requesting the audience https://api.matillion.com, then send it as Authorization: Bearer <JWT>.'
      flows:
        clientCredentials:
          tokenUrl: https://id.core.matillion.com/oauth/dpc/token
          scopes: {}
    etl_basic:
      type: http
      scheme: basic
      description: Legacy Matillion ETL HTTP Basic auth using a Matillion ETL instance user's credentials.
