openapi: 3.2.0
info:
  title: Matillion DPC Environments API
  description: Specification of the Matillion APIs.
  termsOfService: https://www.matillion.com/terms
  contact:
    name: Matillion Support
    url: https://docs.matillion.com
  version: '1.0'
servers:
- url: https://eu1.api.matillion.com/dpc
  description: Data Productivity Cloud control plane (EU region).
- url: https://us1.api.matillion.com/dpc
  description: Data Productivity Cloud control plane (US region).
- url: https://{instance}/rest/v1
  description: Legacy Matillion ETL instance-hosted API. Served from the customer's own Matillion ETL VM; authenticate with HTTP Basic. Replace {instance} with your instance host (also exposes /rest/v0).
  variables:
    instance:
      default: your-matillion-etl-instance
      description: Host of the customer-operated Matillion ETL instance.
tags:
- name: DPC Environments
  description: Data Productivity Cloud environments (warehouse connection contexts).
paths:
  /v1/projects/{projectId}/environments:
    get:
      operationId: listEnvironments
      tags:
      - DPC Environments
      summary: List environments for a project
      security:
      - dpc_oauth: []
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: A list of environments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentList'
    post:
      operationId: createEnvironment
      tags:
      - DPC Environments
      summary: Create an environment for a project
      security:
      - dpc_oauth: []
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentCreate'
      responses:
        '201':
          description: The created environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
components:
  schemas:
    EnvironmentCreate:
      type: object
      properties:
        name:
          type: string
        agentId:
          type: string
      required:
      - name
    Environment:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        defaultEnvironment:
          type: boolean
    EnvironmentList:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Environment'
  parameters:
    ProjectId:
      in: path
      name: projectId
      required: true
      schema:
        type: string
      description: The Data Productivity Cloud project id.
  securitySchemes:
    dpc_oauth:
      type: oauth2
      description: 'Data Productivity Cloud OAuth2 client-credentials flow. Exchange your client id and secret for a Bearer JWT at the token URL, requesting the audience https://api.matillion.com, then send it as Authorization: Bearer <JWT>.'
      flows:
        clientCredentials:
          tokenUrl: https://id.core.matillion.com/oauth/dpc/token
          scopes: {}
    etl_basic:
      type: http
      scheme: basic
      description: Legacy Matillion ETL HTTP Basic auth using a Matillion ETL instance user's credentials.
